<div id = "edit_reply" class="span6">
	<span id = "reply_form_legend">Αλλαγή απάντησης</span>
	<%= render 'form' %>
	<%= button_to 'Πίσω', forum_topic_path(@forum, @topic), :method => :get, :class => "btn" %>
</div>