<div id = "password_reset" class="span4">
	<%= form_tag password_resets_path, :method => :post do %>
	<legend>Επαναφορά κωδικού</legend>
		<p>
			<%= label_tag 'E-mail' %>
			<%= text_field_tag :email, params[:email] %>
		</p>
		<p>
			<%= submit_tag "Επαναφορά κωδικού", :class => "btn" %>
		</p>
	<% end %>
</div>
