<%= div_for comment do %>
	<p>
		<h5><%= comment.user.username %></h5>
		<%= comment.body %>
	</p>
    <% if admin? || is_owner(comment) %>
    	<div id = "destroy_comment">
			<%= button_to 'Διαγραφή σχολίου', [comment.post, comment],
				               :method => :delete,
				               :class => "btn btn-small btn-danger", 
				               :remote => true %>
		</div>
	<% end %>
<% end %>
