<%= div_for comment do %>
<p>
    <b>User:</b>
    <%= comment.user.username %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>

  <p>
    <% if admin? || is_owner(comment) %>
    <div id = "destroy_comment">
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete, 
               :remote => true %>
</div>
<% end %>
<% end %>
</p>
