<div id = "edit_topic" class="span6">
	<span id = "topic_form_legend">Edit topic</span>
	<%= render 'edit_form' %>
	<%= button_to 'Back', forum_path(@forum), :method => :get, :class => "btn" %>
</div>