<div class="row" id = "polls_row">
	<div class="span8">
		<table class = "table table-bordered" id = "polls_list">
			<thead>
				<tr>
					<th class = "span6">Poll</th>  
					<th class = "span2">Votes Count</th>
				</tr>
			</thead>
			<% @polls.each do |poll| %>
				<tbody>
					<tr>
						<td>
							<h4><%= link_to poll.question, poll %></h4>
						</td>
						<td>
							<%= poll.votes_count %>
						</td>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>
	<%= render 'layouts/aside' %>
</div>