.dashboard_navigation {
	width: 250px;
	float: left;
}

.dashboard_content {
	width: 850px;
	float: right;
}
.dashboard_container {
	margin-top: 20px;
}
.admin_header {
	border-bottom: 1px solid #EEEEEE;
}
#admin_nav_list {
	width: 100%;
	list-style-type: none;
}
#admin_nav_list li {
	height: 20px;
}
#admin_nav_list li a {
	text-decoration: none;
	padding: 3px 15px;
	display: block;
	width: 100%;
}
#admin_nav_list li a:hover {
	color: #999999;
}
#confirm_delete {
	margin-right: 5px;
}