<div class="row" id = "links_row">
	<div class="span8">
		<h3>Χρήσιμοι Σύνδεσμοι</h3>
		<div class="accordion" id="links_accordion">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_1">
						Δήμος Αθηναίων
					</a>
				</div>
				<div id="links_1" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.aeda.gr/" target="_blank">Αναπτυξιακή Εταιρεία Δήμου Αθηναίων</a></li>
							<li><a href="http://www.daem.gr/" target="_blank">Επιχείρηση Μηχανογράφησης Δήμου Αθηναίων</a></li>
							<li><a href="http://www.kyada.gr/" target="_blank">Κέντρο Υποδοχής Αστέγων Δήμου Αθηναίων (ΚΥΑΔΑ)</a></li>
							<li><a href="/ona" target="_blank">Οργανισμός Νεολαίας &amp; Άθλησης (ΟΝΑ)</a></li>
							<li><a href="http://www.athina984fm.gr/" target="_blank">9,84 FM Stereo</a></li>
							<li><a class="outlink" href="http://www.kekda.gr">Κέντρο Επαγγελματικής Κατάρτισης Δήμου ΑΘηναίων</a><br />&nbsp;</li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_2">
						Τοπική Αυτοδιοίκηση
					</a>
				</div>
				<div id="links_2" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul>
							<li><a href="http://www.ypes.gr/el/Regions/Aytodioikhsh/">Δήμοι και Κοινότητες</a></li>
							<li><a href="http://www.ita.org.gr/" target="_blank">ΙΤΑ - Ινστιτούτο Τοπικής Αυτοδιοίκησης</a></li>
							<li><a href="http://www.kedke.gr/" target="_blank">ΚΕΔΚΕ - Κεντρική Ένωση Δήμων &amp; Κοινοτήτων Ελλάδας</a></li>
							<li><a href="http://www.tedkna.gr/" target="_blank">ΤΕΔΚΝΑ - Τοπική Ένωση Δήμων &amp; Κοινοτήτων Νομού Αττικής</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_3">
						Νομαρχιακή Αυτοδιοίκηση
					</a>
				</div>
				<div id="links_3" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul>
							<li><a href="http://www.enae.gr" target="_blank">ΕΝΑΕ - Ένωση Νομαρχιακών Αυτοδιοικήσεων Ελλάδας</a></li>
							<li><a href="http://www.ypes.gr/el/Regions/Aytodioikhsh/Perifereies/" target="_blank">Νομαρχίες</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_4">
						Κράτος - Υπουργεία
					</a>
				</div>
				<div id="links_4" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.parliament.gr/" target="_blank">Βουλή των Ελλήνων</a></li>
							<li><a href="http://www.primeminister.gr/" target="_blank">Γραφείο Πρωθυπουργού</a></li>
							<li><a href="http://www.presidency.gr/" target="_blank">Προεδρία της Ελληνικής Δημοκρατίας</a></li>
							<li><a href="http://www.minagric.gr/" target="_blank">Υπουργείο Αγροτικής Ανάπτυξης και Τροφίμων </a></li>
							<li><a href="http://www.ypai.gr/" target="_blank">Υπουργείο Αιγαίου και Νησιωτικής Πολιτικής </a></li>
							<li><a href="http://www.ypan.gr/" target="_blank">Υπουργείο Ανάπτυξης </a></li>
							<li><a href="http://www.ypakp.gr" target="_blank">Υπουργείο Απασχόλησης και Κοινωνικής Προστασίας </a></li>
							<li><a href="http://www.ydt.gr/" target="_blank">Υπουργείο Δημοσίας Τάξεως</a></li>
							<li><a href="http://www.ministryofjustice.gr/" target="_blank">Υπουργείο Δικαιοσύνης</a></li>
							<li><a href="http://www.mod.gr/" target="_blank">Υπουργείο Εθνικής Άμυνας </a></li>
							<li><a href="http://www.minedu.gov.gr">Υπουργείο Εθνικής Παιδείας και Θρησκευμάτων </a></li>
							<li><a href="http://www.yen.gr/" target="_blank">Υπουργείο Εμπορικής Ναυτιλίας </a></li>
							<li><a href="http://www.mfa.gr/" target="_blank">Υπουργείο Εξωτερικών</a></li>
							<li><a href="http://www.ypes.gr/" target="_blank">Υπουργείο Εσωτερικών Δημόσιας Διοίκησης και Αποκέντρωσης </a></li>
							<li><a href="http://www.mathra.gr/" target="_blank">Υπουργείο Μακεδονίας - Θράκης </a></li>
							<li><a href="http://www.yme.gr/" target="_blank">Υπουργείο Μεταφορών και Επικοινωνιών </a></li>
							<li><a href="http://www.mnec.gr/" target="_blank">Υπουργείο Οικονομίας &amp; Οικονομικών </a></li>
							<li><a href="http://www.ypeka.gr/" target="_blank">Υπουργείο Περιβάλλοντος ,Ενέργειας &amp; Κλιματικής αλλαγής</a></li>
							<li><a href="http://www.yppo.gr/0/gindex.jsp" target="_blank">Υπουργείο Πολιτισμού&nbsp;&amp; Τουρισμού</a></li>
							<li><a href="http://www.gss.gov.gr/" target="_blank">Υπουργείο Πολιτισμού &amp; Τουρισμού - Γενική Γραμματεία Αθλητισμού</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_5">
						Πολιτικά Κόμματα
					</a>
				</div>
				<div id="links_5" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://danagennisi.eu/" target="_blank">Δημοκρατική Αναγέννηση</a></li>
							<li><a href="http://www.dikki.org/" target="_blank">ΔΗΚΚΙ - Δημοκρατικό Κοινωνικό Κίνημα</a></li>
							<li><a href="http://www.kke.gr/" target="_blank">ΚΚΕ - Κομμουνιστικό Κόμμα Ελλάδας</a></li>
							<li><a href="http://www.karatzaferis.gr/" target="_blank">ΛΑΟΣ - Λαϊκός Ορθόδοξος Συναγερμός</a></li>
							<li><a href="http://www.nd.gr/" target="_blank">ΝΔ - Νέα Δημοκρατία</a></li>
							<li><a href="http://www.pasok.gr/" target="_blank">ΠΑΣΟΚ - Πανελλήνιο Σοσιαλιστικό Κίνημα</a></li>
							<li><a href="http://www.syn.gr/" target="_blank">ΣΥΝ - Συνασπισμός της Αριστεράς, των Κινημάτων και της Οικολογίας</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_6">
						Ευρώπη
					</a>
				</div>
				<div id="links_6" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.ekem.gr/" target="_blank">Ελληνικό Κέντρο Ευρωπαϊκών Μελετών</a></li>
							<li><a href="http://www.europa.eu.int/" target="_blank">Ευρωπαϊκή Ένωση</a></li>
							<li><a href="http://europa.eu.int/comm/index_el.htm" target="_blank">Ευρωπαϊκή Επιτροπή</a></li>
							<li><a href="http://www.ee.gr/" target="_blank">Ευρωπαϊκή Επιτροπή - Αντιπροσωπεία στην Ελλάδα</a></li>
							<li><a href="http://www.europarl.gr/" target="_blank">Ευρωπαϊκό Κοινοβούλιο - Γραφείο για την Ελλάδα </a></li>
							<li><a href="http://www.euro-ombudsman.eu.int/" target="_blank">Ευρωπαίος Διαμεσολαβητής</a></li>
							<li><a href="http://www.eumc.eu.int/eumc/index.php" target="_blank">EUMC - Ευρωπαϊκό Παρατηρητήριο Φαινομένων Ρατσισμού και Ξενοφοβίας</a></li>
							<li><a href="http://www.emcdda.eu.int/" target="_blank">EMCDDA - Ευρωπαϊκό Κέντρο Παρακολούθησης Ναρκωτικών και Τοξικομανίας</a></li>
							<li><a href="http://europa.eu.int/comm/eurostat/" target="_blank">Eurostat - Γραφείο Στατιστικών των Ευρωπαϊκών Κοινοτήτων</a></li>
							<li><a href="http://www.euro.ecb.int/" target="_blank">Ευρωπαϊκή Κεντρική Τράπεζα</a></li>
							<li><a href="http://www.eic.gr/online/index.asp" target="_blank">Greek Euro Info Centre - Ευρωπαϊκά Κέντρα Πληροφοριών στην Ελλάδα</a></li>
							<li><a href="http://www.ceps.be/Default.php/" target="_blank">Centre for European Policy Studies - Κέντρο Ευρωπαϊκών Πολιτικών Μελετών</a></li>
							<li><a href="http://www.eea.eu.int/" target="_blank">European Environment Agency - Ευρωπαϊκός Οργανισμός Περιβάλλοντος</a></li>
							<li><a href="http://www.etf.eu.int/" target="_blank">European Training Foundation - Ευρωπαϊκό Ίδρυμα Επαγγελματικής Εκπαίδευσης</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_7">
						Μη Κερδοσκοπικοί Οργανισμοί
					</a>
				</div>
				<div id="links_7" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.arcturos.gr/home.htm" target="_blank">Αρκτούρος</a></li>
							<li><a href="http://www.mdmgreece.gr/" target="_blank">Γιατροί του Κόσμου</a></li>
							<li><a href="http://www.msf.gr/" target="_blank">Γιατροί Χωρίς Σύνορα</a></li>
							<li><a href="http://www.amnesty.gr/" target="_blank">Διεθνής Αμνηστία - Ελληνική Επιτροπή</a></li>
							<li><a href="http://www.ekpizo.gr/" target="_blank">ΕΚΠΟΙΖΩ - Ένωση Καταναλωτών - Ποιότητα Ζωής</a></li>
							<li><a href="http://www.socialforum-media.gr/" target="_blank">Ελληνικό Κοινωνικό Φόρουμ</a></li>
							<li><a href="http://www.eps-ath.gr/" target="_blank">Εταιρεία Προστασίας Σπαστικών</a></li>
							<li><a href="http://www.inka.gr/" target="_blank">ΙΝΚΑ - Ινστιτούτο Καταναλωτή</a></li>
							<li><a href="http://www.kepka.org/" target="_blank">ΚΕΠΚΑ - Κέντρο Προστασίας Καταναλωτή</a></li>
							<li><a href="http://www.pomida.gr/" target="_blank">Πανελλήνια Ομοσπονδία Ιδιοκτητών Ακινήτων (ΠΟΜΙΔΑ)</a></li>
							<li><a href="http://www.simetexo.gr/" target="_blank">ΣΥΜΜΕΤΕΧΩ - Κίνηση Φορέων Εθελοντισμού</a></li>
							<li><a href="http://www.hamogelo.gr/" target="_blank">Το Χαμόγελο του Παιδιού</a></li>
							<li><a href="http://www.hatzikyriakio.org.gr/" target="_blank">Χατζηκυριάκειο Ίδρυμα Παιδικής Προστασίας</a></li>
							<li><a href="http://www.osedo.gr/" target="_blank">Ως Εδώ</a></li>
							<li><a href="http://www.actionaid.gr/" target="_blank">ActionAid Ελλάς</a></li>
							<li><a href="http://www.greenpeace.gr/" target="_blank">Greenpeace Ελλάς</a></li>
							<li><a href="http://www.mom.gr/" target="_blank">MOm</a></li>
							<li><a href="http://www.wwf.gr/" target="_blank">WWF Ελλάς</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_8">
						Διεθνείς Οργανισμοί
					</a>
				</div>
				<div id="links_8" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.imf.org/" target="_blank">Διεθνές Νομισματικό Ταμείο</a></li>
							<li><a href="http://www.worldbank.org/" target="_blank">Διεθνής Τράπεζα</a></li>
							<li><a href="http://www.icrc.org/eng" target="_blank">Ερυθρός Σταυρός</a></li>
							<li><a href="http://www.nato.int/" target="_blank">Ν.Α.Τ.Ο.</a></li>
							<li><a href="http://www.un.org/" target="_blank">Ο.Η.Ε.</a></li>
							<li><a href="http://www.oecd.org/" target="_blank">Ο.Ο.Σ.Α.</a></li>
							<li><a href="http://www.osce.org/" target="_blank">Οργανισμός για την Ασφάλεια και την Συνεργασία στην Ευρώπη</a></li>
							<li><a href="http://www.fao.org/" target="_blank">Οργανισμός Τροφίμων και Γεωργίας</a></li>
							<li><a href="http://www.wto.int/" target="_blank">Παγκόσμιος Οργανισμός Εμπορίου</a></li>
							<li><a href="http://www.who.int/" target="_blank">Παγκόσμιος Οργανισμός Υγείας</a></li>
							<li><a href="http://www.unicef.org/" target="_blank">UNICEF</a></li>
							<li><a href="http://www.unesco.org/" target="_blank">UNESCO</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_9">
						Έρευνα και Τεχνολογία
					</a>
				</div>
				<div id="links_9" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.infosociety.gr/" target="_blank">Κοινωνία της Πληροφορίας</a></li>
							<li><a href="http://www.grnet.gr/" target="_blank">Εθνικό Δίκτυο Έρευνας και Τεχνολογίας</a></li>
							<li><a href="http://www.gsrt.gr/" target="_blank">Γενική Γραμματεία Έρευνας και Τεχνολογίας</a></li>
							<li><a href="http://www.eie.gr/" target="_blank">Εθνικό Ίδρυμα Ερευνών</a></li>
							<li><a href="http://www.demokritos.gr/" target="_blank">Κέντρο Ερευνών "Δημόκριτος"</a></li>
							<li><a href="http://www.noa.gr/" target="_blank">Εθνικό Αστεροσκοπείο Αθηνών</a></li>
							<li><a href="http://www.astro.noa.gr/" target="_blank">Ινστιτούτο Αστρονομίας &amp; Αστροφυσικής</a></li>
							<li><a href="http://www.pasteur.gr/" target="_blank">Ελληνικό Ινστιτούτο Παστέρ</a></li>
							<li><a href="http://www.dipe.gr/" target="_blank">ΔΙΠΕ - Διεπιστημονικό Ινστιτούτο Περιβαλλοντικών Ερευνών</a></li>
							<li><a href="http://www.ncmr.gr/" target="_blank">Εθνικό Κέντρο Θαλάσσιων Ερευνών</a></li>
							<li><a href="http://www.fri.gr/" target="_blank">Ινστιτούτο Δασικών Ερευνών</a></li>
							<li><a href="http://www.ekke.gr/" target="_blank">Εθνικό Κέντρο Κοινωνικών Ερευνών</a></li>
							<li><a href="http://www.stpc.gr/" target="_blank">Τεχνολογικό πάρκο Κρήτης</a></li>
							<li><a href="http://www.psp.org.gr/" target="_blank">Τεχνολογικό πάρκο Πατρών</a></li>
							<li><a href="http://www.techpath.gr/" target="_blank">Τεχνολογικό πάρκο Θεσσαλονίκης</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_10">
						Οικονομία - Ανάπτυξη - Επιχειρηματικότητα
					</a>
				</div>
				<div id="links_10" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.ase.gr/" target="_blank">Χρηματιστήριο Αξιών Αθηνών</a></li>
							<li><a href="http://www.bankofgreece.gr/" target="_blank">Τράπεζα της Ελλάδος</a></li>
							<li><a href="http://www.ahba.gr/" target="_blank">Ένωση Ελληνικών Τραπεζών</a></li>
							<li><a href="http://www.acci.gr/" target="_blank">Εμπορικό και Βιομηχανικό Επιμελητήριο Αθηνών</a></li>
							<li><a href="http://www.elke.gr/" target="_blank">Ελληνικό Κέντρο Επενδύσεων</a></li>
							<li><a href="http://www.invgr.com/" target="_blank">Επενδύσεις στην Ελλάδα</a></li>
							<li><a href="http://www.tiresias.gr/" target="_blank">Τειρεσίας</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_11">
						Ειδήσεις - Ενημέρωση - ΜΜΕ
					</a>
				</div>
				<div id="links_11" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.ana.gr/" target="_blank">Αθηναϊκό Πρακτορείο Ειδήσεων</a></li>
							<li><a href="http://www.mpa.gr/" target="_blank">Μακεδονικό Πρακτορείο Ειδήσεων</a></li>
							<li><a href="http://www.hri.org/" target="_blank">Hellenic Resources Network</a></li>
							<li><a href="http://www.mme.gr/" target="_blank">Κατάλογος ελληνικών ΜΜΕ</a></li>
							<li><a href="http://www.minpress.gr/" target="_blank">Γενική Γραμματεία Επικοινωνίας - Γενική Γραμματεία Ενημέρωσης</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_12">
						Τουρισμός και Μεταφορές
					</a>
				</div>
				<div id="links_12" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.gnto.gr/" target="_blank">ΕΟΤ - Ελληνικός Οργανισμός Τουρισμού</a></li>
							<li><a href="http://www.ktel.org/" target="_blank">ΚΤΕΛ - Οδικές μεταφορές</a></li>
							<li><a href="http://www.oasa.gr/" target="_blank">ΟΑΣΑ - Οργανισμός Αστικών Συγκοινωνιών Αθηνών</a></li>
							<li><a href="http://www.isap.gr/" target="_blank">ΗΣΑΠ - Ηλεκτρικοί Σιδηρόδρομοι Αθηνών-Πειραιώς</a></li>
							<li><a href="/" target="_blank">ΟΣΕ - Οργανισμός Σιδηροδρόμων Ελλάδας</a></li>
							<li><a href="http://www.aia.gr/" target="_blank">Διεθνής Αερολιμένας Αθηνών</a></li>
							<li><a href="http://www.meteo.gr/" target="_blank">Καιρός στην Ελλάδα</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_13">
						Παιδεία και Εκπαίδευση
					</a>
				</div>
				<div id="links_13" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.gunet.gr/" target="_blank">Δίκτυο Ελληνικών Πανεπιστημίων</a></li>
							<li><a href="http://www.eap.gr/" target="_blank">Ελληνικό Ανοικτό Πανεπιστήμιο</a></li>
							<li><a href="http://www.iky.gr/scholarships/allodapoi" target="_blank">Υποτροφίες για αλλοδαπούς</a></li>
							<li><a href="http://www.pi-schools.gr/" target="_blank">Παιδαγωγικό Ινστιτούτο</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_14">
						Κοινωνία
					</a>
				</div>
				<div id="links_14" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul>
							<li><a href="http://www.synigoros.gr/" target="_blank">Συνήγορος του Πολίτη</a></li>
							<li><a href="http://www.idkaramanlis.gr/" target="_blank">Ινστιτούτο Δημοκρατίας "Κωνσταντίνος Καραμανλής"</a></li>
							<li><a href="http://www.istame-apapandreou.gr/" target="_blank">ΙΣΤΑΜΕ – Ινστιτούτο Στρατηγικών &amp; Αναπτυξιακών Μελετών "Ανδρέας Παπανδρέου"</a></li>
							<li><a href="http://www.okana.gr/" target="_blank">ΟΚΑΝΑ – Οργανισμός Κατά των Ναρκωτικών</a></li>
							<li><a href="http://www.kethea.gr/" target="_blank">ΚΕΘΕΑ - Κέντρο Θεραπείας Εξαρτημένων Ατόμων</a></li>
							<li><a href="http://www.ektepn.gr/" target="_blank">Εθνικό Κέντρο Τεκμηρίωσης και Πληροφόρησης για τα Ναρκωτικά</a></li>
							<li><a href="http://www.unodc.org/unodc/index.html" target="_blank">United Nations-Office on Drugs and Crime</a></li>
							<li><a href="http://www.nchr.gr/" target="_blank">Εθνική Επιτροπή για τα Δικαιώματα του Ανθρώπου</a></li>
							<li><a href="http://www.kentrozois.gr/" target="_blank">Κέντρο Ζωής – Υποστήριξη οροθετικών και ασθενών με AIDS</a></li>
							<li><a href="http://www.inpsy.gr/" target="_blank">Ινστιτούτο Ψυχικής Υγείας Παιδιών &amp; Ενηλίκων</a></li>
							<li><a href="http://www.paep.org.gr/" target="_blank">Παρατηρητήριο Απασχόλησης</a></li>
							<li><a href="http://www.epimorfosi.com/" target="_blank">Ινστιτούτο Επιμόρφωσης</a></li>
							<li><a href="http://www.childfamily.gr/" target="_blank">Ίδρυμα για το παιδί και την οικογένεια</a></li>
							<li><a href="http://www.cvme.gr/" target="_blank">Κέντρο Έρευνας &amp; Υποστήριξης Θυμάτων Κακοποίησης &amp; Κοινωνικού Αποκλεισμού</a></li>
							<li><a href="http://www.kethi.gr/" target="_blank">ΚΕΘΙ – Κέντρο Ερευνών για Θέματα Ισότητας</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#links_accordion" href="#links_15">
						Πολιτισμός - Ιστορία
					</a>
				</div>
				<div id="links_15" class="accordion-body collapse">
					<div class="accordion-inner" id = "links_accordion_inner">
						<ul class="unIndentedList">
							<li><a href="http://www.cultureguide.gr/" target="_blank">Πολιτιστικές Εκδηλώσεις</a></li>
							<li><a href="http://www.etepo.gr/" target="_blank">Εργαστήρι Τέχνης και Πολιτισμού</a></li>
							<li><a href="http://www.ekebi.gr/" target="_blank">Εθνικό Κέντρο Βιβλίου</a></li>
							<li><a href="http://www.nationalgallery.gr/" target="_blank">Εθνική Πινακοθήκη</a></li>
							<li><a href="http://www.megaron.gr/" target="_blank">Μέγαρο Μουσικής Αθηνών</a></li>
							<li><a href="http://www.greekfestival.gr/" target="_blank">Ελληνικό Φεστιβάλ</a></li>
							<li><a href="http://www.n-t.gr/" target="_blank">Εθνικό Θέατρο</a></li>
							<li><a href="http://www.nationalopera.gr/" target="_blank">Εθνική Λυρική Σκηνή</a></li>
							<li><a href="http://www.artingreece.gr/" target="_blank">ArtInGreece</a></li>
							<li><a href="http://www.artcyclopedia.com/" target="_blank">Εγκυκλοπαίδεια Τέχνης</a></li>
							<li><a href="http://whc.unesco.org/en/statesparties/gr" target="_blank">Ελληνικές εγγραφές στον Κατάλογο Παγκόσμιας Κληρονομιάς</a></li>
							<li><a href="http://www.culture.gr/6/68/682/index.html" target="_blank">Ελληνικές θέσεις για τα Μάρμαρα του Παρθενώνα</a></li>
							<li><a href="http://www.marblesreunited.org.uk/" target="_blank">Marbles Reunited - Μάρμαρα Ενωμένα</a></li>
							<li><a href="http://portal.unesco.org/culture/en/ev.php-URL_ID=7191&amp;URL_DO=DO_TOPIC&amp;URL_SECTION=201.html" target="_blank">Βραβείο "Μελίνα Μερκούρη"</a></li>
							<li><a href="http://www.proeuropa.gr/" target="_blank">Πολιτιστική κίνηση υποστήριξης της ενότητας και μοναδικότητας του ευρωπαϊκού πολιτισμού - Pro Europa</a></li>
							<li><a href="http://www.greeklanguage.gr/" target="_blank">Κέντρο Ελληνικής Γλώσσας</a></li>
							<li><a href="http://www.snhell.gr/" target="_blank">Σπουδαστήριο Νέου Ελληνισμού</a></li>
							<li><a href="http://www.e-history.gr/" target="_blank">Ελληνική Ιστορία</a></li>
							<li><a href="http://www.elia.org.gr/" target="_blank">ΕΛΙΑ - Ελληνικό Λογοτεχνικό και Ιστορικό Αρχείο</a></li>
							<li><a href="http://www.ime.gr/" target="_blank">ΙΜΕ - Ίδρυμα Μείζονος Ελληνισμού</a></li>
							<li><a href="http://www.culture.gr/2/21/toc/museums_gr.html" target="_blank">Αλφαβητικός κατάλογος μουσείων</a></li>
							<li><a href="http://www.gfc.gr/" target="_blank">Ελληνικό Κέντρο Κινηματογράφου</a></li>
							<li><a href="http://www.tainiothiki.gr/v2/">Ταινιοθήκη της Ελλάδος</a></li>
						</ul>
      				</div>
    			</div>
  			</div>
  		</div>
		</div><!-- end main area -->
	<%= render 'layouts/aside' %>
</div><!-- end main row -->