/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_tree .
 */
 

 #notification {
 	margin-bottom: 0;
 }
 #notification_container {
 	padding-top: 40px;
 }
 #main {
	overflow:auto;
	padding-bottom:200px;
}
footer {
	height: 200px;
	background: #000000;
	position: relative;
	margin-top: -200px;
	clear:both;
	background: #ffffff url('/assets/tactile_noise.png') repeat;
}
html,body {
	height:100%;
}
#wrap {
	min-height: 100%;
	background: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid;
	border-right: 1px solid;
}