/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/


#login_form {
	position:relative;
	left: 50%;
	margin-left: -185px;
}

#remember_label {
	display: inline;
}

#login_form_legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.modal > form {
	margin-bottom: 0;
}