#reply_info {
	background-color: #f1f1f1;
	border-bottom: 1px dotted #ccc;
}

#reply {
	padding: 0px;
}

textarea {
	width: 450px;
	height: 100px;
	padding: 5px;
}

#topic_form_legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

#new_topic, #edit_topic {
	position:relative;
	left: 50%;
	margin-left: -285px;
}