<div class="modal hide fade" id="loginModal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Σύνδεση</h3>
	</div>
	<%= render 'sessions/modal_form' %>
</div>